header {
    background-color: transparent;
}

.header-link {
    color: white;
    text-decoration: none;
    display: inline-block; 
    position: relative;
    margin: 0 10px;
    font-size: 1.2rem;
    font-family: "Star Jedi V2";
}

.header-link:hover {
    color: #e9d825;
    opacity: 1;
}

.header-link::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px; 
    bottom: 0;
    left: 0;
    background-color: #e9d825;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
}

.header-link:hover::after {
    visibility: visible;
    width: 100%;
}

.header-link.active {
    color: #e9d825 !important; /* Asegura que el texto sea amarillo */
}

.header-link.active::after {
    content: '';
    position: absolute;
    width: 100%; /* El subrayado cubre todo el ancho */
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #e9d825; /* Color del subrayado */
    visibility: visible; /* Asegura que el subrayado sea visible */
}

.search-input {
    background-color: #181818 !important; /* Color de fondo del campo de búsqueda */
    border-color: #181818 !important; /* Color del borde del campo de búsqueda */
    color: white !important; /* Color del texto del campo de búsqueda */
}

.search-input::placeholder { /* Selector para el texto del placeholder */
    color: white !important; /* Establece el color del texto del placeholder a blanco */
    opacity: 1 !important; /* Asegura que el placeholder tenga opacidad completa */
}

.search-input:focus, .search-input:active {
    box-shadow: 0 0 0 0.1rem rgba(233, 216, 37, 0.5) !important; /* Sombra amarilla */
    outline: none !important;
}

.search-input::-webkit-search-cancel-button {
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(100%) contrast(100%);
}

.header-btn {
    background-color: #e9d825;
    color: black; 
    border: none; 
    padding: 10px; 
    border-radius: 5px; 
}

.header-btn:hover {
    background-color: #fae959;
    color: black;
}
.header-btn:active {
    background-color: #fae959 !important;
    color: black !important;
}

.navbar-container {
    padding: 10px 15px 20px 15px;
    justify-content: space-around;
}
