.starship-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr); /* Inicialmente 5 columnas */
  gap: 20px;
}

.starship-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  border-radius: 10px;
  margin: 10px;
  background-color: #181818;
  color: white;
  transition: transform 0.2s ease-in-out;
}

.starship-card:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease-in-out;
}

.starship-card img {
  max-width: 100%;
  height: auto;
}

.nombre {
  font-size: 16px;
  font-weight: bold;
  margin-top: 10px;
  text-align: center;
}

@media (max-width: 992px) {
  .starship-grid {
    grid-template-columns: repeat(3, 1fr); /* 3 columnas en pantallas medianas */
  }
}

@media (max-width: 768px) {
  .starship-grid {
    grid-template-columns: repeat(2, 1fr); /* 2 columnas en tabletas */
  }
}

@media (max-width: 576px) {
  .starship-grid {
    grid-template-columns: repeat(1, 1fr); /* 1 columna en móviles */
  }
}