.films-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.custom-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  border-radius: 10px;
  margin: 10px;
  background-color: #181818;
  color: white;
  transition: transform 0.2s ease-in-out;
}

.custom-card:hover {
  transform: scale(1.05);
}

.film-img {
  max-width: 100%;
  height: auto;
}

.nombre {
  font-size: 16px;
  font-weight: bold;
  margin-top: 10px;
  text-align: center;
}

@media (max-width: 768px) {
  .films-grid {
    grid-template-columns: repeat(1, 1fr);
  }
}
