@import url('https://fonts.cdnfonts.com/css/star-wars');
@import url('https://db.onlinewebfonts.com/c/0c724f6aa457310440cf8949c615cbd7?family=Star+Jedi+V2');                    

body {
  background-color: #f8f9fa;
  font-family: "Star jedi",arial;
}

.App {
  text-align: center;
}

